/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.button{
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}

/* HEADER */
.header-top{
    background-color: #ADD8E6;
    height: 100px;
}

#header-top{
    background-color: #DAA51F;
    height: 50px;   
    
}

.flex-top{
    display: flex;
    justify-content: center; 
    align-items: center;   
}

.box-logo{
    width: 25%;
}

.box-link{
    width: 50%;
}

.box-login{
    width: 25%;
}

.header-bottom{
    background-color: #03018B;
    height: 500px;
}

#header-bottom{
    background-color: #EE82EE;
    height: 400px;
    width: 700px;
}

.flex-bottom{
    display: flex;
    justify-content: center; 
    align-items: center;   
}

/* MAIN */
.bg-color-section{
    background-color: #FFFFFF;
    height: 700px;
}

.bg-color-section.gray{
    background-color: #D3D3D3;
    height: 700px;
}

.bg-color-section.gray.big{
    background-color: #D3D3D3;
    height: 1000px;
}

/* MAIN SECTION 1 */
.flex-section-1{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.section1-box1{
    background-color: #1E90FF;
    height: 500px;
    width: 60%;
    margin-left: 30px;
}

.section1-box2{
    background-color: #FFC0CB;
    height: 500px;
    width: 40%;
    margin-right: 30px;
}

/* MAIN SECTION 2 */
.flex-section-2{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.section2-box1{
    background-color: #1E90FF;
    height: 500px;
    width: 60%;
    margin-right: 30px;
}

.section2-box2{
    background-color: #FFC0CB;
    height: 500px;
    width: 40%;
    margin-left: 30px;
}

/* MAIN SECTION 3 */
.flex-section-1{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.section1-box1{
    background-color: #1E90FF;
    height: 500px;
    width: 60%;
    margin-left: 30px;
}

.section1-box2{
    background-color: #FFC0CB;
    height: 500px;
    width: 40%;
    margin-right: 30px;
}

/* MAIN SECTION 4 */
.flex-section-4{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.section-4{
    background-color: #228B22;
    height: 800px;
    width: 1000px;
}

/* FOOTER */
.footer-top{
    background-color: #23272A;
    height: 500px;
}

.footer-bottom{
    background-color: #23272A;
    height: 200px;
}

.flex-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box1{
    background-color: #F08080;
    height: 400px;
    width: 40%;
}

.footer-box2{
    background-color: #21B2AA;
    height: 400px;
    width: 60%;    
}

.footer-small-box{
    height: 400px;
    width: 25%;
}

#hr-white{
    color: white;
}
/* DEBUG */

.border-debug.black{
    border: 2px dashed black;
}

.border-debug.white{
    border: 2px dashed white;
}